 
 .about{
    display: flex;
    flex-direction: column;
    height: 100vh;
 
    width: 100vw;
 }
 .about-body{
    /* margin-top: 10vh; */
   width: 80vw;
   margin: 10vh 10vw 0 10vw;
    background-color: rgba(4, 4, 4, 0.273);
    height: 86vh;
 }
 .about-body h1{
   display: flex;
   justify-content: center;
   width: 100%;
   margin-top: 20px;
 }

 .about-body img{
    width: 600px;
    display: flex;
    margin: 25px auto;
 }

 .about-body p{
    padding: 21px;
 }

 .about-end{
    height: 4vh;
    margin:  0 10vw;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
 }