.navbar{
    height: 10vh;
    background-color: black;
    color: #FFE8DB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding:0px 40px; */
    position: fixed;
    width: 100vw;
    z-index: 5;
}
.navbar-logo{
    margin-left: 40px;
    display: flex;
    align-items: center;
}
.navbar-logo img{
    height: 8vh;
}
.navbar-logo div{
    margin-left: 10px;
    font-size: 23px;
    color: #747F83;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
.navbar-lists{
    display: flex;
    width: 30vw;
    justify-content: space-around;
}
.navbar-lists .aselect{
    text-decoration: none;
    color: #FFE8DB;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}
.navbar-lists .anonselect{
    text-decoration: none;
    cursor: pointer;
    color: #747F83;
    font-size: 18px;
    position: relative;
}
.navbar-lists a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: #a6a3a2;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform.5s;
}
.navbar-lists a:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}
.navbar-login{
    padding: 8px 16px;
    font-size: 15px;
    border: solid 1px #a6a3a2;
    background-color: #a6a3a2;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-signup{
    padding: 8px 16px;
    margin-left: 13px;
    font-size: 15px;
    border: solid 1px #a6a3a2;
    background-color: black;
    color: #a6a3a2;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 40px;
}
.navbar-language{
    display: flex ;
    width: 12vw;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}
.navbar-language div{
    cursor: pointer;
}
.non-select{
    color: #747F83;
}
.select{
    color: #FFE8DB;
}